.panel {
    width: 90%;
    margin: 5px auto;
}

textarea {
  resize: none;
}

.form-control {
  width: 50%;
}
#inputDefault {
  width: 50%;
}

#submit-button {
  width: 5%;
}

#chatarea {
  font-family: "Lucida Console", Monaco, monospace;
  width: 100%;
  margin: 0 auto;
  padding: 10px 15px;
  height: 500px;
  background: #ebebeb;
  color: black;
  border-radius: 5px;
  margin: 3px auto;
  overflow: auto;
  overflow-y: scroll;
}

.tab-content {
  width: 100%;
  margin: 0 auto;
}

#content {
  height: 90%;
  width: 90%;
  margin: 0 auto;
}
