.panel {
    width: 90%;
    margin: 5px auto;
}

textarea {
  resize: none;
}
#nameInput {
  width: 50%;
}
#inputDefault {
  /*float: left;*/
  width: 50%;
}

#submit-button {
  width: 5%;
}

#chatwindow {
  width: 100%;
  margin: 0 auto;
  min-height: 500px;
}

.tab-content {
  width: 100%;
  margin: 0 auto;
}

#content {
  width: 90%;
  margin: 0 auto;
}
